{{template "base" .}}

{{define "body"}}           
<div class="bg-[#f1faee] max-w-7xl p-6 mx-auto rounded-lg my-12">
      <h1 class="text-5xl text-center font-extrabold text-[#e63946] my-10">
        Manage Books
      </h1>
      <div class="w-full border-b border-zinc-400 mb-6"></div>
      <ul class="text-center py-10">
        <li class="mb-12 text-4xl font-extrabold text-[#457B9D]">
          <a href="/admin/books/add">Add Book</a>
        </li>
        <li class="my-12 text-4xl font-extrabold text-[#457B9D]">
          <a href="/admin/books/list">List Books</a>
        </li>
        <li class="my-12 text-4xl font-extrabold text-[#457B9D]">
          <a href="/admin/books/update">Update Books</a>
        </li>
      </ul>
    </div>
   <h1 class="absolute top-0 left-0 pl-4 mt-4 mr-4 text-4xl font-bold text-[#1d3557]">
    <a href="/admin">SDSLib</a>
  </h1>
  {{end}}