{{define "body"}}
    <div class="bg-[#f1faee] max-w-7xl p-6 mx-auto rounded-lg my-12">
        <h1 class="text-5xl text-center font-extrabold text-[#e63946] mb-12">BookList</h1>
        <form action="/admin/books/update" method="POST">
            <ul class="text-center">
                {{range .Books}}
                <li>
                    <div class="mb-6">
                        <span class="text-2xl font-bold text-[#457B9D]">{{.Title}} by {{.Author}} ({{.Genre}})</span>
                        <div class="quantity-control">
                            <input type="number" name="quantities[{{.BookID}}]" value="{{.Quantity}}" class="border rounded-md border-4 text-center w-1/6 my-3" min="0">
                            <input type="hidden" name="bookIDs[]" value="{{.BookID}}">
                        </div>
                    </div>
                </li>
                {{end}}
            </ul>
            <div class="max-w-sm mx-auto">
                <button class="w-full bg-[#a8dadc] text-gray-700 rounded-md p-2 font-extrabold text-xl text-[#1D3557]" type="submit">Update Books</button>
            </div>
        </form>
        <h1 class="absolute top-0 left-0 pl-4 mt-4 mr-4 text-4xl font-bold text-[#1d3557]">
            <a href="/admin">Librarri</a>
        </h1>
    </div>
{{end}}
