{{template "base" .}}

{{define "body"}}

<div class="bg-[#f1faee] max-w-7xl p-6 mx-auto rounded-lg my-12">
     <h1 class="absolute top-0 left-0 pl-4 mt-4 mr-4 text-4xl font-bold text-[#1d3557]"><a href="/home">SDSLib</a></h1>
      <h2 class="mt-6 text-2xl text-center font-extrabold text-[#1d3557] pb-10">
        A library management system
      </h2>
      <div class="w-full border-b border-zinc-400 mb-6"></div>
      <ul class="text-center py-10">
        <li class="mb-12 text-4xl font-extrabold text-[#457B9D]">
          <a href="/request">Request a Book</a>
        </li>
        <li class="my-12 text-4xl font-extrabold text-[#457B9D]">
          <a href="/requests">Your requests</a>
        </li>
        <li class="my-12 text-4xl font-extrabold text-[#457B9D]">
          <a href="/books">Your books</a>
        </li>
        <li class="my-12 text-4xl font-extrabold text-[#457B9D]">
          <a href="/return">Return Books</a>
        </li>
        <li class="my-12 text-4xl font-extrabold text-[#457B9D]">
          <a href="/borrowHistory">Borrowing History</a>
        </li>
        <li>
          <form action="/requestAdmin" method="post">
            <div class="max-w-sm mx-auto">
              <button
                class="w-full bg-[#a8dadc] text-gray-700 rounded-md p-2 font-extrabold text-xl text-[#1D3557] mb-8"
                type="Submit"
              >
                Request Admin privileges
              </button>
            </div>
          </form>
          <div class="max-w-xs mx-auto">
            <button
              class="w-full bg-[#a8dadc] text-gray-700 rounded-md p-2 font-extrabold text-xl text-[#1D3557]"
              type="Submit"
            >
              <a href="/logout">Logout</a>
            </button>
          </div>
        </li>
      
      </ul>
    </div>

{{end}}