{{template "base" .}}

{{define "body"}}

<div class="bg-[#f1faee] max-w-7xl p-6 mx-auto rounded-lg my-12">
  <h1 class="text-5xl text-center font-extrabold text-[#e63946]">Request a Book</h1>
  <h2 class="mt-6 text-2xl text-center font-extrabold text-[#1d3557] pb-10">Select books</h2>
  <form action="/home/request" method="POST" class="text-center">
    <ul>
      {{range .Books}}
        <li>
          <div class="mb-6">
            <input type="checkbox" name="selectedBooks" value="{{.BookID}}">
            <span class="text-2xl font-bold text-[#457B9D] ">{{.Title}} by {{.Author}} ({{.Genre}})</span>
            <input type="hidden" name="BookID" value="{{.BookID}}">
          </div>
        </li>
      {{end}}
    </ul>
    <div class="max-w-sm mx-auto">
      <button class="w-full bg-[#a8dadc] text-gray-700 rounded-md p-2 font-extrabold text-xl text-[#1D3557]" type="submit">Request Books</button>
    </div>
  </form>
  <h1 class="absolute top-0 left-0 pl-4 mt-4 mr-4 text-4xl font-bold text-[#1d3557]"><a href="/home">SDSLib</a></h1>
</div>
<script>
  fetch('/home/request', {
    method: 'POST'
  })
  .then(response => {
    if (response.status == 400) {
      alert("You already have or requested this book.");
    }
  });
</script>
{{end}}